<!-- home#index -->
<h1>&raquo; <span class="orange"><%= @group.name %></span>:</h1>
<div id="box">
<small class="info">Deleting a bookmark will not delete the short url, so others can still access it if it's been shared!</small>
<ul class="listing">
<% if @group.bookmarks.size == 0 %>
	<p>There are no bookmarks in this group!</p>
<% end %>
<%= render :partial => "bookmarks/bookmark_li", :collection => @group.bookmarks.reverse, :as => :b, :locals => {:checkbox => false} %>
</ul>
<h2>your groups</h2>
<ul class="tags">
<%= render :partial => "groups/group_li", :collection => @groups, :as => :g %>
</ul>
</div>