<h1><span class="highlighted">privacy</span> policy</h1>
<div id="box">
	<h2>Statement</h2>
	<p>We collect the e-mail addresses of those who communicate with us via e-mail and aggregate information on what pages consumers access or visit. The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except under the following circumstances:</p>
	<ul>
		<li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of <%= link_to 'Terms of Service', termsandconditions_url, :title=>'Terms of Service' %>, or as otherwise required by law.</li>
		<li>We transfer information about you if Ekynoxe or the Rewriter service is acquired by or merged with another company. In this event, Ekynoxe will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
	</ul>
	
	<h2>Information gathering and usage</h2>
	<p>When you register for the Rewriter service we ask for information such as your full name, email address, username, and password.</p>
	<p>Ekynoxe uses collected information for the following general purposes: products and services provision, identification and authentication, services improvement, contact, and research.</p>
	
	<h2>Cookies</h2>
	<ul>
		<li>A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site's computers and stored on your computer's hard drive.</li>
		<li>Cookies are required to use the Rewriter service.</li>
		<li>We use cookies to record current session information, but do not use permanent cookies. You are required to log-in to your Rewriter service site after a certain period of time has elapsed to protect you against others accidentally accessing your account contents.</li>
	</ul>
	
	<h2>Client data storage</h2>
	<p>Ekynoxe does not own the data storage and databases as it is hosted on <a href="http://heroku.com" title="Heroku">Heroku.com</a>, but does own all rights to the Rewriter service application. I however you retain all rights to your data.</p>
	
	<h2>Disclosure</h2>
	<p>Ekynoxe may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the <%= link_to 'Terms of Service', termsandconditions_url, :title=>'Terms of Service' %>.</p>
	
	<h2>Changes</h2>
	<p>Ekynoxe may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the email address specified in your Rewriter service account or by placing a prominent notice on our site.</p>
	
	<h2>Questions</h2>
	<p>Any questions about this Privacy Policy should be addressed to privacy at ekynoxe dot com or by mail at: Ekynoxe, Mathieu Davy, 7B Bond street, London W5 5AP, UK</p>
</div>