<h1><span class="highlighted">what's it made of?</span></h1>
<div id="box">
	<h2>Back side</h2>
	<p>Rewriter is a Ruby on Rails application based on <a taret="_blank" href="http://rubyonrails.org">Rails 3</a> and <a taret="_blank" href="http://rubyonrails.org">ruby 1.9.2.</a></p>
	<p>It uses a few specific gems to get what I wanted in the app:
		<ul>
			<li>authlogic for authentication</li>
			<li>rufus-mnemo to generate readable urls</li>
			<li>settingslogic to keep the application settings in a simple YAML file</li>
		</ul>
	</p>
	
	<h2>Pretty face</h2>
	<p>The front-end couldn't be more easy: pure css and no images. Just colors, CSS3 gradients and buttons, and that's it. No need for something complicated when the app itself is simple!</p>
	<p>I'll probably add some drag and drop features in the future to sort the bookmarks, but for now, rewriter is also free of Javascript</p>
	
	<h2>An address?</h2>
	<p>Rewriter is currently hosted on a free <a target="_blank" href="http://heroku.com">Heroku</a> account which is plenty enough for the size of the application. If the number of requests/urls rewritten grows, I'll see what to do with it!</p>
	<p>You can also download the whole of the code behind rewriter on github at <a target="_blank" href="http://github.com/ekynoxe/rewriter">http://github.com/ekynoxe/rewriter</a>. It's open free and ready to be played with!</p>
	
	<h2>Me</h2>
	<p>I'm Mathieu Davy, web developer and triathlete junkie. You can follow me on my <a href="http://blog.ekynoxe.com">blog</a>, on <a href="http://twitter.com/ekynoxe/">Twitter</a> checkout my <a href="http://ekynoxe.com">portfolio</a>, or <a target="_blank" href="http://mathieudavy.com">read my CV</a></p>
</div>