/* Primary Styles
	Author: Mathieu Davy
*/
header nav:before,
header nav:after,
#box:before,
#box:after,
#box ul.listing:before,
#box ul.listing:after,
#box ul.tags:before,
#box ul.tags:after,
.wide_form:before,
.wide_form:after,
footer ul:before,
footer ul:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;	 
} 
header nav:after,
#box:after,
#box ul.listing:after,
#box ul.tags:after,
.wide_form:after,
footer ul:after  {
	clear: both; 
}

html {
	background-color: #dedede;
}
body {
	margin: 0;
	overflow: hidden;
	width: 100%;
}

ul, ol {
	margin-left: 0;
}
select {
	font-size: 100%;
}
.highlighted {
	color: #f90;
}
/*
.red {
	color: #f00;
}
*/
.info {
	color: #999;
	display: block;
	padding: 0 10px 5px;
}
.del,
.del:visited {
	color: #f00;
	float: right;
	padding: 1px 5px;
	text-decoration: none;
}
.del:hover,
.del:active {
	background-color: #f00;
	color: #fff;
}
/*
header nav li:last-child {
	float: right;
}
footer .logout_link {
	display: none;
}
*/
	
input, textarea {
	border: 1px solid #ccc;
	padding: 4px;
}
h1, 
h2 {
	color: #999;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
h1 {
	font-size: 30px;
	letter-spacing: -3px;
	margin-left: 3%;
}
h2 {
	font-size: 20px;
	letter-spacing: -2px;
	margin-left: 3%;
}
header {
	margin: 0px auto;
}
	header nav {
		padding: 0 10px 0;
		width: 100%;
		z-index: 500;
	}
	header nav .logout_link,
	header nav .home_link {
		display: none;
	}

	footer .logout_link {
		color: #f00;
		font-weight: bold;
	}
		header nav ul {
			position: absolute;
			top: 0;
			right: 0;
			width: 40%;
		}
		header nav ul li a,
		header nav ul li a:visited {
			color: #aaa;
			display: block;
			font-weight: bold;
			padding: 8px 7.5%;
			text-decoration: none;
			text-align: right;
		}
		header nav ul li a:active,
		header nav ul li a:hover {
			color: #888;
		}
	
	header h1 {
		color: #d5d5d5;
		font-size: 400%;
		letter-spacing: -6px;
		line-height: normal;
		margin-top: 0;
		z-index: 0;
	}
	
	header h1 a,
	header h1 a:visited {
		color: #c5c5c5;
		text-decoration: none;
	}
	header h1 a:active,
	header h1 a:hover {
		color: #f90;
	}
#box {
	background-color: #fff;
	padding: 10px 0;
	width: 100%;
}
#new_shared_url_form {
	margin-bottom: 20px;
}
	#box form {
		padding: 0 3%;
		text-align: center;
	}
	#box form ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	#box form label {
		font-size:1.1em;
		display: block;
		padding: 0 0 3px;
		text-align: left;
	}
	#box form .inline {
		text-align: left;
	}
		#box form .inline label {
			display: inline-block;
		}
	#box form ul li {
		border: none;
		margin: 0 0 1em 0;
		padding: 0;
	}
	#box form ul li.forgot_password {
		padding: 10px 0;
	}
	#box form ul li:last-child {
		margin-bottom: 0;
	}
		#box  input[type="text"],
		#box  input[type="password"] {
			font-size:1.2em;
			padding: 5px 4%;
			width: 92%;
		}
	#box input[type="checkbox"] {
		margin-right: 10px;
		vertical-align: baseline;
	}
	#box input[type="submit"] {
		border: none;
		background-image: -webkit-gradient(linear, 0% 0%,0% 100%,from(#eee), to(#bbb));
		background-image: -moz-linear-gradient(0% 100% 90deg,#bbb, #eee);
		background-color: #d9d9d9;
		-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
		color: #777;
		font-weight: bold;
		line-height: 1;
		margin: 1em auto 0;
		min-width: 90px;
		padding: 6px 15px;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
		width: 100%;
	}

	#box ul {
		list-style-type: square;
	}

	#box ul,
	#box ol {
		margin: 10px 0;
		list-style-position: inside;
	}
	#box ul li,
	#box ol li,
	#box p {
		padding: 5px 3%;
	}

.field_with_errors input {
	border: 1px solid #f90;
}
.formErrors {
	border: 1px solid #f90;
	background-color: #fec;
	color: #f60;
	margin: 0 0 20px;
	padding: 5px;
	text-align: left;
}
	#box .formErrors h5 {
		color: #666;
	}
		#box .formErrors ul li {
			margin: 5px 0;
		}


footer {
	color: #999;
	font-size: 80%;
}
	footer ul {
		list-style-type: none;
	}
		footer ul li a {
			border-bottom: 1px solid #fff;
			font-weight: bold;
			float: left;
			display: block;
			padding: 8px 3%;
			text-decoration: none;
			width: 44%;
		}
	footer p {
		padding: 8px 3%;
	}

#box ul li.highlight {
	background-color: #F7F0DC;
}

#box ul.listing,
#box ul.tags {
	list-style-type: none;
	padding: 0 3%;
}

#box ul.tags li {
	background-color: #ededed;
	float: left;
	display: block;
	margin: 0 10px 10px 0;
	padding: 0;
}
#box ul.tags li a,
#box ul.tags li a:visited {
	display: block;
	float: right;
	padding: 8px;
	text-decoration: none;
}
	#box ul.tags li.new_group {
		background: none;
	}
	#box ul.tags li.new_group a,
	#box ul.tags li.new_group a:visited {
		background-color: #fff;
		color: #607890;
	}
	#box ul.tags li a:hover,
	#box ul.tags li a:active,
	#box ul.tags li a.selected,
	#box ul.tags li.new_group a:hover,
	#box ul.tags li.new_group a:active {
		background-color: #607890;
		color: #fff;
	}

#box ul.tags li a.del,
#box ul.listing li a.del {
	border-left: 1px dotted #ccc;
	color: #f00;
	padding: 8px 12px;
}
	#box ul.tags li a.del:hover,
	#box ul.listing li a.del:hover {
		background-color: #f00;
		color: #fff;
	}

#box ul.listing {
	margin-top: 10px;
	padding: 0;
}
	#box ul.listing li {
		border-bottom: 1px solid #efefef;
		text-align: left;
	}
	#box ul.listing li:last-child {
		border: none;
	}
		#box ul.listing li a {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		#box ul.listing li input[type="checkbox"] {
			float: left;
		}


@media screen and (max-width: 40em) {
	html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

@media only screen and (min-width: 40em) {
	
	body {
		margin: 0 auto 50px;
		max-width: 1400px;
		width: 90%;
	}

	h1 {
		font-size: 55px;
		line-height: 40px;
		margin: 20px 0 0 20px;
	}
	h2 {
		font-size: 35px;
		line-height: 40px;
		margin: 15px 0 0 0;
	}
	header {
		margin-bottom: -50px;
	}
		header nav {
			margin-bottom: 0;
			padding: 0;
			width: auto;
		}
			header nav .logout_link {
				float: right;
				display: inline;
			}
			header nav .home_link,
			footer .logout_link {
				display: none;
			}

		header nav ul {
			position: relative;
			top: 0;
			right: 0;
			width: 100%;
		}
			header nav ul li a,
			header nav ul li a:visited {
				display: inline-block;
				float: left;
				padding: 8px;
				text-decoration: none;
				text-align: left;
			}

		header h1 {
			font-size: 800%;
		}
		
	#box {
		border: 1px solid #ccc;
		-moz-box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		box-shadow: 0 0 5px #ccc;
		padding: 20px 3% 30px 0;
		width: auto;
	}
		#box .wide_form {
			float: right;
			padding: 0;
			width: 78%;
		}

			#box .wide_form input[type="text"] {
				float: left;
				font-size:1.2em;
				padding: 5px 1%;
				width: 30%;
			}
			#box .wide_form p {
				float: left;
				width: 10%;	
			}
			#box .wide_form input[type="submit"] {
				float: left;
				margin: 0 0 0 10px;
				width: 10%;
			}
		#box ul.tags {
			float: left;
			margin-top: 0;
			padding-left: 0;
			padding-right: 1%;
			width: 20%;
		}
			#box ul.tags li {
				margin: 0;
				width: 100%;
			}
			#box ul.tags li a,
			#box ul.tags li a:visited {
				float: none;
				padding: 8px 7%;
				width: 74%;
			}
			#box ul.tags li a.del {
				float: right;
				width: 10%;
				padding: 8px 1%;
				text-align: center;
			}
}

@media print {
	* {
		background: transparent !important; color: #444 !important; text-shadow: none !important; 
	}
	a, a:visited {
		color: #444 !important; text-decoration: underline; 
	}
	a:after {
		content: " (" attr(href) ")";
	}
	abbr:after {
		content: " (" attr(title) ")"; 
	}
	.ir a:after {
		content: ""; 
	}  
	pre, blockquote {
		border: 1px solid #999; page-break-inside: avoid; 
	}
	thead {
		display: table-header-group; 
	}
	tr, img {
		page-break-inside: avoid; 
	}
	@page {
		margin: 0.5cm; 
	}
	p, h2, h3 {
		orphans: 3; widows: 3; 
	}
	h2, h3 {
		page-break-after: avoid; 
	}
}