<h1>All <span class="orange">shared urls</span>:</h1>
<div id="box">
	<p>Listed by reverse chronological order</p>
<ul>
<% @shared_urls.reverse.each do |url| %>
<li>
	<%= link_to url.full_url, root_url()+(url.short_url || ''), :target => '_blank' %> | <%= url.url_requests.size %></br><small><%= root_url()+(url.short_url || '') %></small>
</li>
<% end %>
</ul>
</div>