<% content_for :subtitle do %>
	<span>success<span class="highlighted">!</span></span>
<% end %>
<div id="box">
<p>Your short URL has been created:</p>
<p><%= link_to(root_url()+(@shared_url.short_url || ''), root_url()+(@shared_url.short_url || ''), :target => '_blank') %></p>
<p><%= @shared_url.full_url %></p>
<p><%= link_to('create another one',root_url()) %></p>
</div>