<h1>Your bookmarks<span class="orange">:</span></h1>
<div id="box">
<%= render :partial => 'shared_urls/mini_sharedurl_form', :shared_url => @shared_url %>
<ul>
<% @shared_urls.reverse.each do |url| %>
<li>
	<%= link_to url.full_url, root_url()+(url.short_url || ''), :target => '_blank' %><small><%= root_url()+(url.short_url || '') %></small>
</li>
<% end %>
</ul>
</div>