<% content_for :subtitle do %>
	<span><span class="highlighted">Forgot</span> password?</span>
<% end %>
<div id="box">
	<p>
		<% if !flash[:notice].nil? %>
			<%= flash[:notice] %>
		<% else %>
			:)
		<% end %>
	</p>
</div>